.MainUsers{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 43px;
}

@media screen and (max-width: 1200px) {
    .MainUsers{
        justify-content: flex-start;
    }
}
  
@media screen and (max-width: 768px)
{
    .MainUsers{
        align-items: center;
    }
}